@import "node_modules/sass-mq/mq";

$tcss-base-unit: 1.5rem !default;
$tcss-fragment-identifier: \. !default;
$tcss-breakpoint-separator: \@ !default;
$tcss-grid-gutter-base: $tcss-base-unit !default;

@import "utilities/spacings";
@import "utilities/grid";
